@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins&display=swap');



* {
    margin: 0;
    padding: 0;
    background-color: rgba(45, 0, 100, 0.9);
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    text-align: center;
}

input {
    border: 0;
    border-bottom: 2px solid red;
    margin-top: 1rem;
    width: 240px;
    outline: none;
}

button {
    margin-top: 1rem;
    width: 100%;
    background-color: red;
    color: white;
    height: 35px;
    border: 0;
    border-radius: 5px;
    transition: 0.5s;
}

button:hover {
    background-color: transparent;
    border: 1px solid red;
    color: red;
    transition: 0.5s
}

a {
    margin-top: 1rem;
    color: red;
    text-decoration: none;
    transition: 0.5s;
    background-color: transparent;
}

a:hover {
    color: white;
    transition: 0.5s
}